<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org">
<head>
</head>
<body>
	<div th:fragment="footer" class="footer">
		<div class="container">
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
				<h2>Search</h2>
				<div class="input-group" id="search-group">
								<input type="text"
									class="form-control" name="search" id="search"
									th:value="${search}" placeholder="Enter a City or Zipcode"></input>
								<span class="input-group-btn">
									<button class="btn btn-orange" id="search-btn" type="submit">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
				</div>
				<a th:href="@{'/'}"><img th:src="@{http://placehold.it/200x50}" src="http://placehold.it/200x50" class="img-responsive center-block sm-img bottom-logo" alt="Responsive image" /></a>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
				<h2>Quick Links</h2>
					<ul>
					  <li><a th:href="@{'/'}">Example 0</a></li>
					  <li sec:authorize="isAuthenticated()"><a th:href="@{'/'}">Example 1</a></li>
					  <li sec:authorize="isAuthenticated()"><a th:href="@{'/'}">Example 2</a></li>
					  <li sec:authorize="isAnonymous()"><a th:href="@{'/login'}">Login</a></li>
					  <li sec:authorize="isAnonymous()"><a th:href="@{'/signup'}">Sign up</a></li>
					</ul>
				</div>
			</div>
		<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
						<h2>How It Works</h2>
							<ul>
							  <li><a th:href="@{'/'}">Example 1</a></li>
							  <li><a th:href="@{'/'}">Example 2</a></li>
							  <li><a th:href="@{'/'}">example 3</a></li>
							</ul>
				</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3">
			<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
						<h2>Contact</h2>
						<p>Do you have any questions or need help? Contact us today!</p>
						<a href="mailto:support@yourwebsite.com?Subject=Hello%20again" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 copyright">
				&copy; 2016 YourWebsite.com All Right Reserved
		</div>
			<script
				src="https://code.jquery.com/jquery-1.9.1.min.js"
				th:href="@{https://code.jquery.com/jquery-1.9.1.min.js}"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
				th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
			<script src="/js/jquery-ui.js" th:href="@{/js/jquery-ui.js}"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/	
		    var pageTitle = [[${pageTitle}]];	
		/*]]>*/
		</script>
		<script src="/js/custom.js" th:href="@{/js/custom.js}"></script>
		</div>

	</div>
	<div th:fragment="footer-admin" class="footer">
		<div class="container">
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
				<h2>Search</h2>
				<div class="input-group" id="search-group">
								<input type="text"
									class="form-control" name="search" id="search"
									th:value="${search}" placeholder="Enter a City, State or Zipcode"></input>
								<span class="input-group-btn">
									<button class="btn btn-orange" id="search-btn" type="submit">
										<span class="glyphicon glyphicon-search"></span>
									</button>
								</span>
							</div>
				</div>
				<a th:href="@{'/'}"><img th:src="@{http://placehold.it/200x50}" src="http://placehold.it/200x50" class="img-responsive center-block sm-img bottom-logo" alt="Responsive image" /></a>
			</div>
			<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
				<h2>Quick Links</h2>
					<ul>
					  <li><a th:href="@{'/'}">Example 0</a></li>
					  <li sec:authorize="isAuthenticated()"><a th:href="@{'/'}">Example 1</a></li>
					  <li sec:authorize="isAuthenticated()"><a th:href="@{'/'}">Example 2</a></li>
					  <li sec:authorize="isAnonymous()"><a th:href="@{'/login'}">Login</a></li>
					  <li sec:authorize="isAnonymous()"><a th:href="@{'/signup'}">Sign up</a></li>
					</ul>
				</div>
			</div>
		<div class="col-xs-12 col-sm-3 col-md-3">
				<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
						<h2>How It Works</h2>
							<ul>
							  <li><a th:href="@{'/'}">Example 1</a></li>
							  <li><a th:href="@{'/'}">Example 2</a></li>
							  <li><a th:href="@{'/'}">Example 3</a></li>
							</ul>
				</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3">
			<div class="col-xs-12 col-sm-12 col-md-12 remove-padding">
						<h2>Contact</h2>
						<p>Do you have any questions or need help? Contact us today!</p>
						<a href="mailto:support@yourwebsite.com?Subject=Hello%20again" target="_top"><span class="glyphicon glyphicon-envelope"></span></a>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 copyright">
				&copy; 2016 YourWebsite.com All Right Reserved
		</div>
			<script
				src="https://code.jquery.com/jquery-1.9.1.min.js"
				th:href="@{https://code.jquery.com/jquery-1.9.1.min.js}"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
				th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
			<script src="/js/jquery-ui.js" th:href="@{/js/jquery-ui.js}"></script>
		<script th:inline="javascript">
		/*<![CDATA[*/	
		    var pageTitle = [[${pageTitle}]];	
		/*]]>*/
		</script>
		<script src="/js/custom.js" th:href="@{/js/custom.js}"></script>	
		</div>
	</div>
</body>
</html>