<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head">
</head>
<body>
	<div class="site-wrapper">
		<nav class="navbar navbar-default"
			th:replace="fragments/header :: header"></nav>
		<!-- Div login visibility condition -->
		<div th:switch="${success}">
			<div class="container" th:case="'lost'">
				<div class="row">
					<div class="col-xs-12 col-sm-2 col-md-4"></div>
					<div
						class="col-xs-12 col-sm-8 col-md-4 border_box login remove-padding">
						<div class="col-xs-12 col-sm-12 col-md-12">
						<p>Not found</p>
					</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-4"></div>
				</div>	
			</div>
			<div class="container" th:case="'found'">
				<div class="row">
					<div class="col-xs-12 col-sm-2 col-md-4"></div>
					<div
						class="col-xs-12 col-sm-8 col-md-4 border_box login remove-padding">
						<div class="col-xs-12 col-sm-12 col-md-12">
							<h3>Reset Password</h3>
							<p class="alert alert-success" role="alert">
								Key found! Please reset your password.</p>
							<p class="alert alert-danger" role="alert" th:if="${error}">
								Sorry, your passwords do not match.</p>
							<form th:action="@{'/reset/' + ${key}}"
								th:object="${passwordChangeForm}" method="POST">
								<div
									class="form-group password has-feedback col-xs-12 col-sm-12 col-md-12 remove-padding">
									<div class="msg-container">
										<span class="msg-text">Password</span>
										<div class="arrow-down"></div>
									</div>
									<input type="password" class="form-control form-big-letters"
										th:field="*{password}" id="password" placeholder="Password" />
									<span class="glyphicon glyphicon-ok form-control-feedback"></span>
									<div class="alert alert-danger form-password-error"
										role="alert" th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}">Password Error</div>
									<div class="col-xs-12 col-sm-12 col-md-12 password-errors">
										<div class="form-error">
											<ul>
												<li class="validation-length"><span
													class="glyphicon glyphicon-remove" aria-hidden="true"></span>8-30
													characters, numbers and symbols.</li>
												<li class="validation-number"><span
													class="glyphicon glyphicon-remove" aria-hidden="true"></span>1
													Number (0-9)</li>
												<li class="validation-lowercase"><span
													class="glyphicon glyphicon-remove" aria-hidden="true"></span>1
													Lowercase Letter (a-z)</li>
												<li class="validation-Uppercase"><span
													class="glyphicon glyphicon-remove" aria-hidden="true"></span>1
													Uppercase Letter (A-Z)</li>
												<li class="validation-symbol"><span
													class="glyphicon glyphicon-remove" aria-hidden="true"></span>1
													Symbol (!@#$%^&amp;*()_+)</li>
											</ul>
										</div>
									</div>
								</div>
								<div
									class="form-group email has-feedback col-xs-12 col-sm-12 col-md-12 remove-padding">
									<div class="msg-container">
										<span class="msg-text">Confirm Password</span>
										<div class="arrow-down"></div>
									</div>
									<input class="form-control form-big-letters" type="password"
										name="password2" id="password2" placeholder="Confirm Password" />
									<span class="glyphicon glyphicon-ok form-control-feedback"></span>
									<div class="alert alert-danger form-email-error"
										role="alert" th:if="${#fields.hasErrors('password2')}"
										th:errors="*{password2}">Password Error</div>
								</div>
								<div class="form-group">
									<input class="btn btn-orange login-btn" type="submit" id="submit"
										value="Change Password" />
								</div>
							</form>
						</div>
					</div>
					<div class="col-xs-12 col-sm-2 col-md-4"></div>
				</div>
			</div>
		</div>
	</div>
	<script th:inline="javascript">
		/*<![CDATA[*/
		function is_jquery_here(){
	    setTimeout(function(){
	    if(window.jQuery){

		var str = "";
		document.getElementById("password").focus();
		var wasVisible = false;
		var emailVisible = false;
		var takenEmail = false;
		var emailValidationPoints = 0;
		var passwordValidationPoints = 0;
		var inputPos = "";
		var inputName = "email";
		checkPasswordValidation();

		if ($('.form-password-error').is(':visible') || wasVisible == true) {
			wasVisible = true;
			$('.form-password-error').css("display", "none");
			$('.password-errors').css("display", "block");
		} else {
			$('.password-errors').css("display", "none");
		}

		if ($('.form-email-error').is(':visible') || emailVisible == true) {
			emailVisible = true;
			$('.form-email-error').css("display", "none");
			$('.email-errors').css("display", "block");
		} else {
			$('.email-errors').css("display", "none");
		}

		function checkPasswordValidation() {

			str = document.getElementById("password").value;
			var res = (/[0-9]/.test(str));
			passwordValidationPoints = 0;

			if (str.length >= 1) {
				var x = $("#password").position();
				$(".msg-text").html("Password");
				$(".password .msg-container").css('top', x.top - 35);
				$(".password .msg-container").css('left', x.left);
				$(".msg-container").hide();
				$(".password .msg-container").show();
			}

			if (res == 1) {
				$('.validation-number').css("color", "green");
				$(".validation-number .glyphicon-remove").addClass(
						"glyphicon-ok").removeClass("glyphicon-remove").css(
						"color", "green");
				passwordValidationPoints++;
			} else {
				$('.validation-number').css("color", "red");
				$(".validation-number .glyphicon-ok").addClass(
						"glyphicon-remove").removeClass("glyphicon-ok").css(
						"color", "red");
			}

			res = (/[a-z]/.test(str));

			if (res == 1) {
				$('.validation-lowercase').css("color", "green");
				$(".validation-lowercase .glyphicon-remove").addClass(
						"glyphicon-ok").removeClass("glyphicon-remove").css(
						"color", "green");
				passwordValidationPoints++;
			} else {
				$('.validation-lowercase').css("color", "red");
				$(".validation-lowercase .glyphicon-ok").addClass(
						"glyphicon-remove").removeClass("glyphicon-ok").css(
						"color", "red");
			}

			res = (/[A-Z]/.test(str));

			if (res == 1) {
				$('.validation-Uppercase').css("color", "green");
				$(".validation-Uppercase .glyphicon-remove").addClass(
						"glyphicon-ok").removeClass("glyphicon-remove").css(
						"color", "green");
				passwordValidationPoints++;
			} else {
				$('.validation-Uppercase').css("color", "red");
				$(".validation-Uppercase .glyphicon-ok").addClass(
						"glyphicon-remove").removeClass("glyphicon-ok").css(
						"color", "red");
			}

			if (containsSymbol(str) == 1) {
				$('.validation-symbol').css("color", "green");
				$(".validation-symbol .glyphicon-remove").addClass(
						"glyphicon-ok").removeClass("glyphicon-remove").css(
						"color", "green");
				passwordValidationPoints++;
			} else {
				$('.validation-symbol').css("color", "red");
				$(".validation-symbol .glyphicon-ok").addClass(
						"glyphicon-remove").removeClass("glyphicon-ok").css(
						"color", "red");
			}

			if (str.length >= 4 || wasVisible == true) {
				wasVisible = true;
				$('.password-errors').css("display", "block");
			} else {
				$('.password-errors').css("display", "none");
			}

			if (str.length >= 8) {
				$('.validation-length').css("color", "green");
				$(".validation-length .glyphicon-remove").addClass(
						"glyphicon-ok").removeClass("glyphicon-remove").css(
						"color", "green");
				passwordValidationPoints++;
			} else {
				$('.validation-length').css("color", "red");
				$(".validation-length .glyphicon-ok").addClass(
						"glyphicon-remove").removeClass("glyphicon-ok").css(
						"color", "red");
			}
			checkValid();
		}

		$("#password").focus(function() {
			inputName = "password";
			inputPos = $("#password").position();
			$(".msg-text").html("Password");
			$(".password .msg-container").css('top', inputPos.top - 35);
			$(".password .msg-container").css('left', inputPos.left);
			$(".msg-container").hide();
			$(".password .msg-container").show();
		});
		$("#password2").focus(function() {
			inputName = "password2";
			inputPos = $("#password2").position();
			$(".msg-text").html("Confirm Password");
			$(".email .msg-container").css('top', inputPos.top - 35);
			$(".email .msg-container").css('left', inputPos.left);
			$(".msg-container").hide();
			$(".email .msg-container").show();
		});

		
		function hideLi() {
			$('.validation-email-taken').css("display", "block");
			$('.email .form-control-feedback').css("display", "block");
			$("#password2").css("color", "green");

		}

		function showLi() {
			$('.validation-noAt').css("display", "inline-block");
			$('.email-valid-domain').css("display", "inline-block");
			$('.validation-com').css("display", "inline-block");
			$('.email-valid-name').css("display", "inline-block");
			$('.email .form-control-feedback').css("display", "none");
			$("#password2").css("color", "#555");
			if (takenEmail == true) {
				$('.validation-email-taken').css("display", "block");
			} else {
				$('.validation-email-taken').css("display", "none");
			}
		}
		function hidePassLi() {
			$('.validation-length').css("display", "none");
			$('.validation-number').css("display", "none");
			$('.validation-lowercase').css("display", "none");
			$('.validation-Uppercase').css("display", "none");
			$('.validation-symbol').css("display", "none");
			$('.password-errors').css("display", "none");
			$('.password .form-control-feedback').css("display", "block");
			$("#password").css("color", "green");
		}

		function showPassLi() {
			$('.validation-length').css("display", "block");
			$('.validation-number').css("display", "block");
			$('.validation-lowercase').css("display", "block");
			$('.validation-Uppercase').css("display", "block");
			$('.validation-symbol').css("display", "block");
			if (str.length > 1) {
				$('.password-errors').css("display", "block");
			}
			$('.password .form-control-feedback').css("display", "none");
			$("#password").css("color", "#555");
		}

		function checkValid() {
			if (passwordValidationPoints < 5) {
				showPassLi();
			} else {
				hidePassLi();
			}
			if (emailValidationPoints < 5) {
				$(".validation-email-mirror .glyphicon-ok").addClass(
						"glyphicon-remove").removeClass("glyphicon-ok").css(
						"color", "red");
				showLi();
			} else {
				$(".validation-email-mirror .glyphicon-remove").addClass(
						"glyphicon-ok").removeClass("glyphicon-remove").css(
						"color", "green");
			}
			if (passwordValidationPoints == 5 && emailValidationPoints == 5) {
				$("#submit").removeAttr('disabled');
			} else {
				$("#submit").prop("disabled", true);
			}

		}

		function containsSymbol(str1) {
			var symbols = "!@#$%^&*()_+";

			for (var i = 0; i < str1.length; i++) {
				if (symbols.indexOf(str1.charAt(i)) != -1) {
					return true;
				}
			}
			return false;
		}
		function comparePasswords() {
			if($("#password2").val() == $("#password").val()){
				$('.email .form-control-feedback').css("display", "block");
				$("#submit").removeAttr('disabled');
			}else{
				$('.email .form-control-feedback').css("display", "none");
				$("#submit").prop("disabled", true);
			}
		}
		
		function emailAjaxCall() {
			var variable = $("#password2").val();
			var returnVar = 0;
			$.ajax({
				url : "/validate/email",
				async : false,
				data : {
					val : variable
				},
				dataType : 'html',
				success : function(dat) {
					if (dat == 1) {
						returnVar = 1;
					} else {
						returnVar = 0;
					}
				}
			});
			return returnVar;
		}
		$('#password').on('input', function(e) {
			checkPasswordValidation();
			comparePasswords();
		});
		$('#password').bind('paste', function(e) {
			checkPasswordValidation();
			comparePasswords();
		});

		var globalTimeout = null;
		$('#password2').on('input', function(e) {
			comparePasswords();
		});
		$('#password2').bind('paste', function(e) {
			comparePasswords();
		});
		
	    } else {
	        is_jquery_here();
	      }
	    }, 300);
	}
	is_jquery_here();

		/*]]>*/
	</script>
	<div
		th:replace="fragments/footer :: ${#authorization.expression('isAuthenticated()')} ? 'footer-admin' : 'footer'">&copy;
		2016 Footer</div>
</body>
</html>
